<h1>Prepare to be Triangulated!!</h1>

<form action="/triangle">
  <div class="form-group">
    <label for="side1"> Type in the length of side one.
    </label>
      <input id="side1" name="side1" class="form-control" type="number">
    <label for="side2"> Type in the length of side two.
    </label>
      <input id="side2" name="side2" class="form-control" type="number">
    <label for="side3"> Type in  the length of side three.
    </label>
      <input id="side3" name="side3" class="form-control" type="number">
  </div>
  <button type="submit" class="btn-success">Triangulate it!</button>
